@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo gris oscuro con leve textura/gradiente */
:root {
  --bg1: #171717;
  --bg2: #212121;
}
body {
  background: radial-gradient(1200px 600px at 20% -10%, rgba(255,255,255,0.06), transparent 60%),
              radial-gradient(1000px 600px at 100% 0%, rgba(255,255,255,0.04), transparent 60%),
              linear-gradient(180deg, var(--bg1), var(--bg2));
  color: #111827;
}
